body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    margin: 0;
}

/* Login */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.logo {
    color: #1877f2;
    font-size: 50px;
}

.right form {
    background: white;
    padding: 20px;
    width: 350px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 12px;
    background: #1877f2;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.green {
    background: #42b72a;
}

.link {
    text-align: center;
    color: #1877f2;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 12px;
}

/* Signup */
.signup-box {
    width: 350px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
    text-align: center;
}

/* Home */
.navbar {
    background: #1877f2;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.home {
    text-align: center;
    margin-top: 50px;
}
